<div class='row'>
  <div class='col-md-3'>
  </div>
  <div class='col-md-6'>
    <%= render 'layouts/quote' %>
    <table id='companiesTable' class='table' cellspacing='0' width='100%'%>
      <thead>
      <th class='col-md-3'>Title</th>
      <th class='col-md-2'>Role Type</th>
      <th class='col-md-2'>Skill Type</th>
      <th class='col-md-2'>Salary</th>
      <th class='col-md-2'>Equity</th>
      </thead>
      <tbody>
        <% @jobs.each do |job| %>
          <tr>
            <td>
              <span class='hidden'>
                <%= job.title %>
              </span>
              <div class='job_display_title'>
                <%= job.decorate.job_title %>
              </div>
            </td>
            <td>
              <% if job.role_type %>
                <div class='job role_type'>
                  <%= job.decorate.job_role_type %>
                </div>
              <% end %>
            </td>
            <td>
              <% if job.skill_type %>
                <div class='job skill_type'>
                  <%= job.decorate.job_skill_type %>
                </div>
              <% end %>
            </td>
            <td>
              <div class='job salary'>
                <%= job.decorate.job_salary %>
              </div>
            </td>
            <td>
              <% if job.equity[0] != nil %>
                <div class='job equity'>
                  <%= job.decorate.job_equity %>
                </div>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class='col-md-3'>
  </div>
</div>
