<table id='companiesTable' class='table' cellspacing='0' width='60%'data-source='<%= companies_url(format: 'json') %>'%>
  <thead>
  <th class='col-md-1'>Name</th>
  <th class='col-md-3'>Product</th>
  <th class='col-md-5'>Markets</th>
  <th class='col-md-2'>Size</th>
  <th class='col-md-1'>Hiring</th>
  </thead>
  <tbody>
    <% @companies.each do |company| %>
    <tr>
    <td><%= image_tag(company.thumbnail, class: 'company_logo', alt: company.name) %></td>
    <td><%= company.concept %></td>
    <td>
      <% company.market_names.each do |market| %>
        <span class="company market">
          <%= market.split.map(&:capitalize).join(' ') %>
        </span>
      <% end %>
    </td>
    <td>
      <span class='company size'>
        <%= company.size %>
      <span>
    </td
    <td>
    </td>
    </tr>
    <% end %>
  </tbody>
</table>

