<div class='circle'>V</div>
<table id='companiesTable' class='table' cellspacing='0' width='55%'%>
  <thead>
  <th class='col-md-1'>Name</th>
  <th class='col-md-2'>Product</th>
  <th class='col-md-4'>Markets</th>
  <th class='col-md-2'>Size</th>
  <th class='col-md-3'>Hiring</th>
  </thead>
  <tbody>
    <% @companies.each do |company| %>
    <tr>
      <td>
        <span class='hidden'>
          <%= company.name %>
        </span>
        <span>
          <%= image_tag(company.thumbnail, class: 'company_logo', alt: company.name) %>
        </span>
      </td>
      <td><%= company.concept %></td>
      <td>
        <% company.market_names.each do |market| %>
          <div class='company market'>
            <%= market.split.map(&:capitalize).join(' ') %>
          </div>
        <% end %>
      </td>
      <td>
        <div class='company size'>
          <%= company.size %>
        </div>
      </td>
      <td>
        <span class='hidden'>
          <%= company.jobs.count %>
        </span>
        <% company.jobs.each do |job| %>
          <div class='company jobs'>
            <%= job.title.split.map(&:capitalize).join(' ') %>
          </div>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
